/* CSS Reset */
/*
.: class
#: id
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, img, ul, li, fieldset, form, label{ 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-size: 100%; 
	vertical-align: baseline; 
	background: transparent; 
	font-family: Roboto,Helvetica,Arial,sans-serif;
}

ol, ul { 
	list-style: none; 
}

:focus { 
	outline: 0; 
}

/* General */

@font-face { 
	font-family: 'DejaVuSansCondensedBook'; 
	src:  url('DejaVuSansCondensed-webfont.ttf') format('truetype'); 
}

body { 
	background: #f9f9f9; 
	font: 12px "Lucida Sans Unicode", sans-serif; 
	line-height: 1.5em; 
	color: #555; 
}

a { 
	text-decoration: none; 
} 

#top_background { 
	/* background: url(images/top_bck.jpg) repeat-x;  */
}

.main_container  { 
	margin: 0 auto; 
	/* width: 960px;   */
	width: 100%;  
	/* background: url(images/logo_bck.png) no-repeat;  */
}

/* Main-container classes */
.login_form {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}
.navigation_bar { 
	clear: both; 
	height: 50px; 
	/* margin-bottom: 20px;  */
	/* https://htmlcolorcodes.com/ */
	background: #0c265f; 
}

.header_bar { 
	clear: both; 
	height: 60px;
	background: #0c265f;
}

.category_bar {
	height: auto;
	border-bottom: 1px solid #e0e0e0;
	position: relative;
}
h1.category_content {
	font-size: 14px; 
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 20px;
}

.logo { 
	float: left;
	margin-left: 20px;
	margin-right: 50px;
	margin-top: 0px;
	width: auto;
}
.logo img {
	width: 100px;
	height: 50px;
	align: center;
}
.logo h1 a { 
	display: block; 
	width: 345px; 
	height: 50px; 
	background: url(images/logo.png) no-repeat; 
	text-indent: -9999px; 
	margin: 16px 0 0 40px; 
}

.search {
	/* float: center; */
	width: 80%;
}
.search ul {
	/* margin-top: 10px; */
}
.search ul li {
	display: inline;
	/* margin-top: 20px; */
}

ul.navigation { 
	float: left; 
	margin: 15px 20px 0px 0px; 
}
ul.navigation li { 
	display: inline; 
	margin-left: 30px; 
}
ul.navigation li a { 
	color: #fff; 
	font-size: 14px; 
	text-shadow: 1px 1px 0px #155479; 
}
ul.navigation li a:hover { 
	text-decoration: underline; 
}
.btnLogin {
	/* background: red; */
	/* display: hidden; */
}

/* main_box class*/

.main_box { 
	clear: both; 
	margin: 20px;
	background: white;
}

/*new_products*/
.new_products ul {
	margin: 0 px 10px; 
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}
.new_products ul li{
	display: inline-block;
	width: 33%;
	text-align: center;
}
.new_products ul li img{
	width: 250px;
	height: auto;
}
.new_products ul li h4{
	color: blue;
	font-size: 14px;
	white-space: normal;
}

.know_more_green a { 
	float: right; 
	display: block; 
	position: relative; 
	top: -55px; 
	right: -6px; 
	width: 86px; 
	height: 74px; 
	background: url(images/know_more_green.png) no-repeat; 
}

.cta_browse a { 
	display: block; 
	width: 168px; 
	height: 56px; 
	background: url(images/cta_blu.jpg) no-repeat 0px 0px; 
	float: left; 
	margin: 26px 0 0 10px;
}
.cta_browse a:hover { background-position: 0px -56px; }
.cta_signup a { 
	display: block; 
	width: 168px; 
	height: 56px; 
	background: url(images/cta_blue.jpg) no-repeat 0px 0px; 
	float: left; 
	margin: 26px 0 0 24px; 
}
.cta_signup a:hover { background-position: 0px -56px; }

.content { 
	clear: both; 
	overflow:auto; 
	margin-bottom: 20px; 
	/* margin: 20px;  */
}

.category { 
	/* width: 280px;  */
	width: 100%; 
	float: left; 
}

.orange a { color: #ed7d0f; }
.green a { color: #5a9e28;}
.cyan  a { color: #28819e; }
.orange a:hover { color: #ff9e05; text-decoration: underline; }
.green a:hover { color: #74d82b; text-decoration: underline; }
.cyan  a:hover { color: #2fb4e0; text-decoration: underline; }
.blue a {
	color: blue;
	font-size: 18px;
}
.blue a:hover {
	color: blue; 
	text-decoration: underline;
}
.price_result {font-size: 18px;}

.content h3 { 
	font-size: 20px; 
	color: #0b537f; 
	font-weight: normal; 
	border-bottom: 1px solid #e0e0e0; 
	padding-bottom: 10px; 
	margin-bottom: 20px; 
	margin-top: 20px; 
}
.category ul { 
	/* margin-top: 25px;  */
	margin: 0 px 10px; 
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	
}
.category ul li  { 
	/* border-bottom: 1px solid #e0e0e0;  */
	display: inline-block;
	padding-bottom: 8px; 
	/* margin-bottom: 5px;  */
	margin: 5px 5px; 
	font-size: 11px; 
	line-height: 16px; 
	color: #757474; 
}
.category ul li img { 
	float: left; 
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	width: 200px;
	height: 200px;
	
	/**/
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}

.list_product ul { 
	margin: 0 px 10px; 
	
}
.list_product ul li  { 
	display: inline-block;
	padding-bottom: 8px; 
	font-size: 11px; 
	line-height: 16px; 
	color: #757474;
	
	/**/
	width: 23%;
	height: 250px;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.list_product ul li img { 
	width: 200px;
	height: 200px;
	/**/
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}

.list_results ul { 
	margin: 10px 30px; 
	width: 80%;
}
.list_results ul li  { 
	/* display: inline-block; */
	font-size: 11px; 
	/* line-height: 16px;  */
	color: #757474;
	
	/**/
	width: 100%;
	height: 210px;
	margin: 0 20px 20px 20px;
	border-bottom: 1px solid #e0e0e0;
}
.list_results ul li img { 
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}

span.details { font-size: 13px; color: #a8a8a8;  }
span.details a { color: #333; }
span.details a:hover { text-decoration: underline; }

.box_trailer { clear: both; }
.box_trailer img { 
	background: #fefefe; 
	padding: 5px; 
	-moz-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.35); 
	-khtml-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.35); 
	-webkit-box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.35); 
	box-shadow: 0px 0px 3px rgba(51, 51, 51, 0.35); 
	float: left; 
	z-index: 100; 
	position: relative; 
	margin: 0 15px 30px 0; 
}
span.meta_info { 
	padding: 1px 6px; 
	color: #fefefe; 
	z-index: 99; 
	margin-top: 18px; 
	position: relative; 
	top: 8px; 
	left: -15px; 
	font-size: 10px; 
}
.meta_green { background: #5a9e28; }
.meta_blue { background: #ed7d0f; }
.box_trailer h4 { 
	font-size: 16px; 
	font-weight: normal; 
	margin: 20px 0 10px 0; 
}
span.trailer_more a { 
	display: block; 
	width: 83px; 
	height: 19px; 
	background: url(images/more.jpg) no-repeat 0px 0px; 
	float: right; 
	margin-top: 10px; 
}
span.trailer_more a:hover { background-position: 0px -19px; }

/* Footer */

.footer { 
	/* background: url(images/foot_bck.jpg) repeat-x; clear: both;  */
	background: #0c265f; 
	clear: both;
	width: 100%;
}	
.footer ul li {
	/* display: inline; */
	padding: 4px 0 4px 40px;
}
.footer ul {
	/* text-align: center; */
}
.foot_cont { 
	height: 218px; 
	margin: 0 auto; 
	width: 90%;
	margin-left: 5%;
	align: center;
}

.foot_col { float: left; width: 23%; margin: 45px 20px 0 0; }
.last_col  { margin-right: 0px; width: 240px; }
.foot_col h3 { color: white; font-style: bold; font-size: 14px; font-weight: normal; }
.foot_col ul { margin: 10px 0 0 10px; }
.foot_col ul li { padding: 4px 0 4px 20px; }
.foot_col ul li a { color: white; font-size: 12px; }
.foot_col ul li a:hover  { color: #3374ff; }
.foot_col p { color: #f1f3f8; margin-top: 10px; }

span.about_but a { 
	color: #cfdcf8; 
	padding: 2px 5px; 
	background: #3e5077; 
	-moz-border-radius: 3px; 
	margin-top: 10px; 
	float: right; 
	font-size: 10px;}
span.about_but a:hover { background: #4e6188; color: #fff; }

.credits { clear: both; background: #cfdcf8; margin-top: 20px; }
.credits  p { text-align: center; font-size: 11px; color: #1c3059; padding: 8px; }

/*product detail*/
.product_main_box { 
	background: white;
	width: 70%; 
	margin-left: 15%;
	
}
.product_images ul {
	margin: 10px 15%; 
	/* margin-left: 15%; */
	/* margin-right: 15%; */
	width: 80%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: auto;
}
.product_images ul li  {
	display: inline-block;
	padding-bottom: 8px; 
	margin: 5px 5px; 
	font-size: 11px; 
	line-height: 16px; 
	color: #757474;
}
.product_images ul li img { 
	width: 50px;
	height: 50px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45);
}
.btnAddToListCart {
	margin-top: 50px; 
	margin-right: 50px; 
	float: right;
}
.btnAddToListCart button {
	width: 120px;
	background-color: orange;
}

.tablink {
    background-color: #ced4d8;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
.tablink:hover {
    /* background-color: #777; */
    background-color: #b5b9bc;
}
.tabcontent {
    color: black;
    display: none;
    padding: 70px 20px;
    height: 100%;
}

/*offer_list*/
.offer_list_content {
	width: 95%;
	margin-left: 5%;
}
ul.tblRow {
	/* border-bottom: 1px solid #e0e0e0; */
	margin-top: 20px;
	margin-left: 20px;
}
.offer_list_content ul li {
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
	width: 19%;
}
.offer_list_content ul li button{
	border-bottom-width: 1px;
	font-style: bold;
	background-color: orange;
	font-size: 14px;
}
/* ul.tblHeader li { */
	/* font-size: 16px; */
	/* font-style: bold; */
	/* color: black; */
	/* background-color: #e6d0c9; */
/* } */
/* ul.tblRow li { */
	/* font-size: 16px; */
	/* font-style: bold; */
	/* color: black; */
/* } */

.offer_list_header{
	font-size: 14px;
	color: #757474;
	width: 100%;
	height: 210px;
	margin: 20px 20px 20px 20px;
	border-bottom: 1px solid #e0e0e0;
}
.offer_list_header img { 
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}
.offer_list_header h4 {
	font-size: 24px;
	line-height: 22px;
}

/*list.html*/
.list ul { 
	margin: 10px 30px; 
	width: 80%;
}
.list ul li  { 
	font-size: 11px; 
	color: #757474;
	width: 100%;
	height: 210px;
	margin: 0 20px 20px 20px;
	border-bottom: 1px solid #e0e0e0;
	
}
.list ul li img { 
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}
.list ul li div {
	float: right;
	width: 150px;
}

/*cart.html*/
.cart { 
	margin: 10px 10px; 
	width: 70%;
	
}
.cart ul li  { 
	font-size: 11px; 
	color: #757474;
	width: 100%;
	height: 210px;
	margin: 0 20px 20px 20px;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}
.cart ul li img { 
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}
.cart ul li div {
	float: right;
	width: 150px;
}

.sub_total {
	/* width: 30%; */
	width: 25%;
	height: 150px;
	float: right;
	margin: 10px 20px;
	box-shadow: 0px 0px 5px rgba(1, 10, 18, 0.45); 
}
.sub_total h4 {
	font-size: 20px;
	color: black;
	margin-left: 10px;
	margin-top: 10px;
}
.sub_total button {
	width: 70%; 
	margin-left: 15%;
	margin-top: 20px;
	font-size: 16px;
	font-style: bold;
	color: #d87553;
}

/*select_address.html*/
.select_address {
	width: 80%;
	margin-left: 50px;
	margin-top: 20px;
}
.select_address h4 {
	font-size: 20px;
	color: #c23605;
}
.edit_address {
	
}

/*orders.html*/
.orders {
	width: 95%;
	margin-left: 5%;
	margin-top: 20px;
}
ul.tblRow {
	margin-top: 15px;
	margin-left: 20px;
}
.orders ul li {
	display: inline-block;
	border-bottom: 1px solid #e0e0e0;
	width: 30%;
}
ul.tblHeader li {
	font-size: 16px;
	font-style: bold;
	color: black;
	background-color: #e6d0c9;
	text-align: center;
}
ul.tblRow li {
	font-size: 16px;
	font-style: bold;
	color: black;
}
.order_id {
	margin-top: 40px;
	margin-bottom: 20px;
}
.order_id h3 {
	font-size: 20px;
	float: left;
	margin-right: 10px;
	
}
