<div class="main_box">
  <div class="content">
    <h3>Top 5 Sản phẩm mới</h3>
    <div class="new_products">
      <%=raw new_products %>
    </div>
  </div>
  <div class="content">
    <div class="category">
      <h3>Category 1    <a href='category.html' style='font-size: 12px;'>Xem thêm</a></h3>
      <%=first_category%>
    </div>

    <div class="category">
      <h3>Category 2    <a href='category.html' style='font-size: 12px;'>Xem thêm</a></h3>
      <%=second_category%>
    </div>
  </div>
</div>
