<div class="main_box">
  <div class="content">
    <h3>Top 5 Sản phẩm mới</h3>
    <div class="new_products">
      <ul>
        <li>
          <a href='detail.html'><img src="/assets/screenshot 1.png" alt="screenshot 1" /></a>
          <h4 class="blue"><a href="detail.html">The first movie this week</a></h4>
        </li>
        <li>
          <a href='detail.html'><img src="/assets/screenshot 1.png" alt="screenshot 1" /></a>
          <h4 class="blue"><a href="detail.html">The first movie this week</a></h4>
        </li>
        <li>
          <a href='detail.html'><img src="/assets/screenshot 1.png" alt="screenshot 1" /></a>
          <h4 class="blue"><a href="detail.html">The first movie this week</a></h4>
        </li>
        <li>
          <a href='#'><img src="/assets/screenshot 1.png" alt="screenshot 1" /></a>
          <h4 class="blue"><a href="detail.html">The first movie this week</a></h4>
        </li>
        <li>
          <a href='detail.html'><img src="/assets/screenshot 1.png" alt="screenshot 1" />
          <h4 class="blue"><a href="detail.html">The first movie this week</a></h4></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content">
    <div class="category">
      <h3>Category 1    <a href='category.html' style='font-size: 12px;'>Xem thêm</a></h3>
      <ul>
        <li><a href='#'><img src="/assets/screenshot 1.jpg" alt="screenshot 1" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 2.jpg" alt="screenshot 2" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 3.jpg" alt="screenshot 3" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 4.jpg" alt="screenshot 4" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 5.jpg" alt="screenshot 5" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 6.jpg" alt="screenshot 6" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 7.jpg" alt="screenshot 7" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 8.jpg" alt="screenshot 8" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 9.jpg" alt="screenshot 9" /></a></li>
      </ul>
    </div>

    <div class="category">
      <h3>Category 2    <a href='category.html' style='font-size: 12px;'>Xem thêm</a></h3>
      <ul>
        <li><a href='#'><img src="/assets/screenshot 1.jpg" alt="screenshot 1" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 2.jpg" alt="screenshot 2" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 3.jpg" alt="screenshot 3" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 4.jpg" alt="screenshot 4" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 5.jpg" alt="screenshot 5" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 6.jpg" alt="screenshot 6" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 7.jpg" alt="screenshot 7" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 8.jpg" alt="screenshot 8" /></a></li>
        <li><a href='#'><img src="/assets/screenshot 9.jpg" alt="screenshot 9" /></a></li>
      </ul>
    </div>
  </div>
</div>
