<div class="main_box">
  <div class="content">
    <h3>Top 5 Sản phẩm mới</h3>
    <div class="new_products">
      <%=raw new_products %>
    </div>
  </div>
  <div class="content">
    <% @categories.each do |cate|%>
    <div class="category">
      <h3><%=cate.name %>  <a href='/<%=cate.slug %>' style='font-size: 12px;'>Xem thêm</a></h3>
      <%=slider_category(cate.id)%>
    </div>
    <% end%>
  </div>
</div>
